<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ネットでカレー注文</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div th:insert="header::header"></div>

      <!-- login form -->
      <div class="row">
        <div
          class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12"
        >
          <div class="well">
            <form
              method="post"
              th:action="@{/updateUser}"
              th:object="${insertForm}"
            >
              <fieldset>
                <div class="change-user">
                  <legend>会員情報更新</legend>
                <form
                  th:unless="${session.user == null}"
                  th:action="@{/deleteUser}"
                  method="post"
                  id="delete-form"
                >
                  <button type="submit" class="btn-delete" id="delete-btn">
                    退会
                  </button>
                </form>
                </div>
                <div class="form-group">
                  <label for="inputName">名前:</label
                  ><label
                    th:errors="*{name}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >名前を入力してください</label
                  >
                  <input
                    type="text"
                    id="inputName"
                    class="form-control"
                    placeholder="山田太郎"
                    name="name"
                    th:field="*{name}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputEmail">メールアドレス:</label>
                  <label
                    th:text="${emailRegistedError}"
                    style="color: red"
                    for="inputError"
                  >
                    そのメールアドレスはすでに使われています</label
                  >
                  <label
                    th:errors="*{email}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >メールアドレスを入力してください</label
                  >
                  <input
                    type="text"
                    id="inputEmail"
                    class="form-control"
                    placeholder="xxx@xxx"
                    name="email"
                    th:field="*{email}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputZipcode">郵便番号:</label>
                  <label
                    th:errors="*{zipcode}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >郵便番号を入力してください</label
                  >
                  <input type="button" value="住所検索" id="get_address_btn" />
                  <input
                    type="text"
                    id="zipcode"
                    class="form-control"
                    placeholder="100-0014"
                    name="zipcode"
                    th:field="*{zipcode}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress">住所:</label>
                  <label
                    th:errors="*{address}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >住所を入力してください</label
                  >
                  <input
                    type="text"
                    id="address"
                    class="form-control"
                    placeholder="東京都千代田区永田町１丁目７−１"
                    name="address"
                    th:field="*{address}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputTel">電話番号:</label>
                  <label
                    th:errors="*{telephone}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >電話番号を入力してください</label
                  >
                  <input
                    type="text"
                    id="inputTel"
                    class="form-control"
                    placeholder="000-000-0000"
                    name="telephone"
                    th:field="*{telephone}"
                  />
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">登録</button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    id="reset_button_user"
                  >
                    クリア
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/get_address_insert.js}"></script>
    <script th:src="@{/js/reset.js}"></script>
    <script th:src="@{/js/delete_confirm.js}"></script>
  </body>
</html>
