@charset "UTF-8";

/* サイズをオレンジ〇で囲む */
span.price {
 
  /*レイアウトの性質(どう並ぶか)*/
  display: inline-block;

  /* サイズ指定 */
  width: 25px;
  height: 25px;

  /* 中身の配置（文字をど真ん中に） */
  text-align: center;
  line-height: 25px;

  /* デザイン・装飾（色や形） */
  background-color: #ff4500;
  color:white;
   border-radius: 50%;

}

/* 合計金額の文字の大きさを変える */
span#total-price {
  font-size: 35px;
}

/* 商品一覧の画像を中央寄せにする*/
.item-img-center {
  margin-left: auto;
  margin-right: auto;
}
/* 商品一覧のセルを固定幅にする*/
.item-list-table {
  table-layout: fixed;
}

th {
  text-align: center;
}
