@charset "UTF-8";

div.pagination {
	font-family: "Noto Sans JP", sans-serif;
	font-size:25px;
	color:green;

	display: flex;
	justify-content: center;
	gap: 15px;
}
div.pagination a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	border-radius: 4px;

	text-decoration: none;
}
div.pagination a.active {
	font-size: 25px;
	background-color: #337ab7;
	color: honeydew;
}
tbody.table{
	display:flex;
}
div.text-center-2{
	text-align: center;
	padding: 70px 300px;
}
div.text-center-3{
	display:flex;
}
