<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ネットでカレー注文</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div th:insert="header::header"></div>

      <!-- login form -->
      <div class="row">
        <div
          class="
            col-lg-offset-3
            col-lg-6
            col-md-offset-2
            col-md-8
            col-sm-10
            col-xs-12
          "
        >
          <div class="well">
            <form method="post" th:action="@{/insert/insertUser}" th:object="${insertForm}">
              <fieldset>
                <legend>ユーザ登録</legend>
                <div class="form-group">
                  <label for="inputName">名前:</label
                  ><label th:errors="*{name}"
                    class="control-label"
                    style="color: red"
                    for="inputError" 
                    >名前を入力してください</label
                  >
                  <input
                    type="text"
                    id="inputName"
                    class="form-control"
                    placeholder="山田太郎"
                    name="name"
                    th:field="*{name}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputEmail">メールアドレス:</label>
                  <input type="hidden" name="email" th:value="${session.email}">
                  <label th:text="${emailRegistedError}" style="color: red" for="inputError">
                  そのメールアドレスはすでに使われています</label>
                  <!-- <label th:errors="*{email}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >メールアドレスを入力してください</label
                  > -->
                  <!-- <input
                    type="text"
                    id="inputEmail"
                    class="form-control"
                    placeholder="xxx@xxx"
                    th:value="${session.email}"
                    readonly
                  /> -->
                  <p>
                    <span th:text="${session.email}">xxx@xxx</span>
                  </p>
                </div>
                <div class="form-group">
                  <label for="inputZipcode">郵便番号:</label>
                  <label th:errors="*{zipcode}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >郵便番号を入力してください</label
                  >
                  <input type="button" value="住所検索" id="get_address_btn"/>
                  <input
                    type="text"
                    id="zipcode"
                    class="form-control"
                    placeholder="100-0014"
                    name="zipcode"
                    th:field="*{zipcode}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress">住所:</label>
                  <label th:errors="*{address}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >住所を入力してください</label
                  >
                  <input
                    type="text"
                    id="address"
                    class="form-control"
                    placeholder="東京都千代田区永田町１丁目７−１"
                    name="address"
                    th:field="*{address}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputTel">電話番号:</label>
                  <label th:errors="*{telephone}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >電話番号を入力してください</label
                  >
                  <input
                    type="text"
                    id="inputTel"
                    class="form-control"
                    placeholder="000-000-0000"
                    name="telephone"
                    th:field="*{telephone}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputPassword">パスワード:</label>
                  <label th:errors="*{password}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >パスワードを入力してください</label
                  >
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="８桁以上で入力してください"
                    name="password"
                    th:field="*{password}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputConfirmationPassword"
                    >確認用パスワード:</label
                  >
                  <label th:errors="*{confirmPassword}"
                    class="control-label"
                    style="color: red"
                    for="inputError"
                    >確認用パスワードを入力してください</label
                  >
                  <label th:text="${passwordNotMatchError}" style="color: red" for="inputError">パスワードと確認用パスワードが不一致です
                  </label>
                  <input
                    type="password"
                    id="inputConfirmationPassword"
                    class="form-control"
                    placeholder="上記と同じパスワードを入力してください"
                    name="confirmPassword"
                    th:field="*{confirmPassword}"
                  />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">登録</button>
                  <button type="button" class="btn btn-primary" id="reset_button_user">クリア</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/get_address_insert.js}"></script>
    <script th:src="@{/js/reset.js}"></script>
  </body>
</html>
